<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Mehmet's App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Trending Movies</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        <p>You can find the trending movies, their release date and the budget information.</p>
      </ion-text>
      <ion-button color="tertiary" routerLink="/movies" expand="block" shape="round">
        Trending Movies
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
